<ion-content class="ion-padding">
  <ion-img src="assets/LogoCK.png" class="logo" [routerLink]="['/home']"></ion-img>
  
 
   
      <ion-col size="6">
        <ion-card class="card1">
          <img alt="Silhouette of mountains" src="https://i.pinimg.com/736x/56/50/ca/5650cae6e8e4729679a52060ab4a2991.jpg" />
          
          <ion-card-header class="titulo">
            <ion-card-title>which is the Cat</ion-card-title>
            
          </ion-card-header>
        </ion-card>
      </ion-col>


      <ion-card class="ionpadre"color="medium">
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col size="6">
                <div [ngClass]="{ 'class-name1': !estadoimagen1, 'class-name2': estadoimagen1 }">
                <ion-button (click)="cambiarimagen1(estadoimagen1 !== undefined ? !estadoimagen1 : false)"(click)="presentAlert('')">
                  <ion-card  class="ionimg">
                    <img alt="Silhouette of mountains" class="juan" src="https://i.pinimg.com/736x/56/50/ca/5650cae6e8e4729679a52060ab4a2991.jpg" />
                  </ion-card>
                </ion-button>
                </div>
              </ion-col>
        
              <ion-col size="6">
                <div [ngClass]="{ 'class-name1': !estadoimagen2, 'class-name2': estadoimagen2 }">
                <ion-button (click)="cambiarimagen2(estadoimagen2 !== undefined ? !estadoimagen2 : false)" (click)="presentSimpleAlert()">
                  <ion-card class="ionimg">
                    <img alt="Silhouette of mountains" class="juan"src="https://static.vecteezy.com/system/resources/previews/026/718/709/original/pixel-art-illustration-lion-pixelated-lion-lion-animal-icon-pixelated-for-the-pixel-art-game-and-icon-for-website-and-video-game-old-school-retro-free-vector.jpg" />
                  </ion-card>
                </ion-button>
              </div>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="6">
                <div [ngClass]="{ 'class-name1': !estadoimagen3, 'class-name2': estadoimagen3 }">
                <ion-button (click)="cambiarimagen3(estadoimagen3 !== undefined ? !estadoimagen3 : false)" (click)="presentSimpleAlert()">
                  <ion-card class="ionimg">
                    <img alt="Silhouette of mountains" class="juan"  src="https://thumbs.dreamstime.com/z/pez-tropical-pixel-art-archivo-vectorial-aislado-219215228.jpg" /> </ion-card>
                </ion-button>
                </div>
              </ion-col>
        
              <ion-col size="6">
                <div [ngClass]="{ 'class-name1': !estadoimagen4, 'class-name2': estadoimagen4 }">
                 <ion-button (click)="cambiarimagen4(estadoimagen4 !== undefined ? !estadoimagen4 : false)" (click)="presentSimpleAlert()">
                  <ion-card class="ionimg">
                    <img alt="Silhouette of mountains"class="juan"  src="https://img.freepik.com/vector-premium/dibujos-animados-avestruz-pixel-diseno_61878-520.jpg" /> </ion-card>
                </ion-button>
                </div>
              </ion-col>
            </ion-row>


          </ion-grid>
        </ion-card-content>
      </ion-card>
      
      
    
   
      <ion-button  class="boton1" (click)="confirmarRedireccion()">Go to Menu 📃</ion-button>
</ion-content>